<!-- <div id="template">
  <h1>I am a headline made with HTML</h1>
  <p>
    And I am a simple text paragraph. The color of this text is styled with CSS.
    Click the button below to remove me through the power JavaScript.
  </p>
  <button>Hide the text above</button>
</div> -->
<!-- <h1>angular is here</h1>
<ul class="list-group" *ngFor="let x of users">
  <li class="list-group-item">{{ x.name }}</li>
  <li class="list-group-item">{{ x.photo }}</li>
  <li class="list-group-item">{{ x.age }}</li>
  <li class="list-group-item">{{ x.company }}</li>
  <li class="list-group-item">{{ x.salary }}</li>
  <li class="list-group-item">{{ x.designation }}</li>
  <li class="list-group-item">{{ x.location }}</li>
  <li class="list-group-item">{{ x.gender }}</li>
  <li class="list-group-item">{{ x.education }}</li>
</ul> -->
<!-- <button class="btn btn-primary mt-2 md-2" (click)="addNweUser()">
  Add new User
</button>
<table class="table table-bordered table-hover table-dark mt-2">
  <tr>
    <th>Id</th>
    <th>name</th>
    <th>photo</th>
    <th>age</th>
    <th>company</th>
    <th>salary</th>
    <th>designation</th>
    <th>location</th>
    <th>gender</th>
    <th>education</th>
    <th>deleteUser</th>
  </tr>
  <tr *ngFor="let user of users; index as i" class="table-light text-dark">
    <td>{{ i + 1 }}</td>
    <td>{{ user.name }}</td>
    <td>
      <img
        class="img-fluid rounded-circle"
        style="width:100px;height:100px;"
        src="{{ user.photo }}"
        alt="{{ user.name }}"
      />
    </td>
    <td>{{ user.age }}</td>
    <td>{{ user.company }}</td>
    <td>{{ user.salary }}</td>
    <td>{{ user.designation }}</td>
    <td>{{ user.location }}</td>
    <td>{{ user.gender }}</td>
    <td>{{ user.education }}</td>
    <td>
      <button class="btn btn-danger btn-sm" (click)="removeUser(user)">
        Remove
      </button>
    </td>
  </tr>
</table> -->
