<app-header></app-header>
<!-- <app-home></app-home> -->
<!-- <div class="container">
  <app-employee></app-employee>
</div> -->
<!-- <div><app-login></app-login></div> -->
<!-- <app-employee></app-employee> -->
<!-- <div class="container">
  <router-outlet></router-outlet>
</div>
<app-users></app-users> -->
<!-- <div class="container">
  <app-login></app-login>
</div> -->
<!-- <div><app-contact></app-contact></div> -->
<!-- <div><app-register></app-register></div> -->
<!-- <div><app-students></app-students></div> -->
<!-- <div class="container">
  <div class="row">
    <div class="col-md-6">
      <app-login>
        <h1 id="login">Login</h1>
        <button id="btn">Login</button>
        <div>
          <span>
            Dont have an account please
          </span>
          <a href="./register"></a>
        </div>
      </app-login>
    </div>
    <div class="col-md-6">
      <app-login>
        <h1 id="login">Register</h1>
        <button id="btn">Login</button>
      </app-login>
    </div>
  </div>
</div> -->
<!-- <courses></courses> -->
<app-api></app-api>
<!-- <app-player></app-player> -->
