<nav class="navbar navbar-expand-lg navbar-light bg-light"></nav>
<div class="row">
  <div class="col-md-6">
    <app-register>
      <h1>Register</h1>
      <button class="btn-primary btn-block mt-2">Register</button>
      <div>
        <span>Already Registerd Please</span>
        <span><a routerLink="/login">Login</a></span>
      </div>
    </app-register>
  </div>
  <div class="col-md-6">
    <app-register>
      <h1>Login</h1>
      <button class="btn-primary btn-block mt-2">Login</button>
      <div>
        <span>Not Registerd, Create Account Please</span>
        <span><a routerLink="/register">Register</a></span>
      </div>
    </app-register>
  </div>
</div>
